* {
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.container{
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#reset {
  height: 60px;
}